<!DOCTYPE html>
<html>
  <head>
    <title>Create cloud hashtags</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="main-block">
      <h1>Enter link</h1>
      <form method="POST">
        <input type="text" name="link" id="name" required/>
        <div class="btn-block">
          <button type="submit">Submit</button>
        </div>
      </form>
      
      {% if context.error %}
      <p>Ошибка! {{ context.error }}</p>
      {% endif %}
      {% if context.filename %}
        <img src="{{ url_for('static', filename=context.filename)}}">
      {% endif %}
    </div>
  </body>
</html>